
.about-us{
    --title-col:rgb(72, 78, 74);
    --text-col:#1A281F;
    display:flex;
    flex-direction: row-reverse;
    padding-bottom: 10%;
}
.about-us .content{
    display:inline-block !important;
    padding-right:10%;
    padding-left:10%;
    padding-top:20%;
    padding-bottom:5%;
    width:60%;
    font-family: 'Montserrat', sans-serif;
    color:var(--text-col);
    display:block;
}
.about-us .title{
    text-align: center;
    color:var(--title-col);
    font-size: 300%;
    font-weight: 700;
    letter-spacing: 2px;
}
.about-us .text{
    padding-top:20px;
    font-size:120%;
}

.about-us-g{
    padding-top:20%;
    padding-left:5%;
    display:inline-block;
    z-index:-15;
    width: 30%;
    min-width:400px;
    height:auto;
}

@media screen and (max-width:1000px){

.about-us .content{
    width:90%;
    padding-left:5%;
}

}

@media screen and (max-width:800px){
    .about-us{
        display:block;}
.about-us-g{
    padding-top:20%;
    padding-left:5%;
    display:block;
    z-index:-15;
    width: 80%;
    height:auto;
}
}