*{

    --title-col:rgb(72, 78, 74);
    --text-col:#1A281F;
    --btn-col:#FE654F;
}

.contact-us .title{
    text-align: center;
    color: var(--title-col);
    font-size: 300%;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 1em;
}
.contact-us{
    background-color: #DCC5F1;
}
@media screen and (max-width:768px){
    .contact-us .content{
        background-color: rgba(255, 255, 255, 0.47);
       
    }
    .contact-us .title{
    
        background-color: rgba(255, 255, 255, 0.47);
       
    }
}