* {
    --col1: #fe654f;
    --bg-col: #F5F5F5;
    overflow-x: hidden;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    z-index:5;
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: var(--bg-col);
    border:2px solid rgba(245, 245, 245, 0.719);
    background-color: #FF6661;
    font-size: 36px;
    top:-25px;
    left:-25px;
}

#menu-icon {
    transform :scale(2);
    text-align: center;
    cursor: pointer;
}

#nav-list {
    z-index: 50;
    width: 100vw;
    position: fixed;
    top: 0;
    padding:0;
    margin:0;
    transition: height ease-out 1s;
    background-color: #FF6661;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
    transition: height 0.3s ease-in;
}

#nav-list.nav-hide {
    height: 0;
    transition: all ease-out 0.5s;
}

#nav-list.nav-hide li {
    display: none;
    opacity: 0;
    transition: all ease-out 0.7s;
}

#nav-list.nav-hide #clear {
    opacity: 0;
}

#nav-list li a {
    color: var(--bg-col);
    text-transform: capitalize;
    font-size: 5vh;
    opacity: 1;
    transition-delay: 3s;
    transition: all ease-in 0.3s;
}

#clear {
    cursor: pointer;
    color:var(--bg-col);
}

.landing-page{
    height:100vh;
    width:100wv;
}