* {
    --col1: #fe654f;
    --bg-col: #F5F5F5;
    overflow-x: hidden;
}

.menu {

    overflow: visible;
    z-index:5;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--bg-col);
    background-color: var(--col1);
    font-size: 36px;
    top: -10px;
    left: -10px;
}

#menu-icon {
    text-align: center;
    transform: scale(1);
    position: relative;
    top: 1px;
    left: 10px;
    cursor: pointer;
}

#nav-list {
    z-index: 50;
    width: 100vw;
    position: fixed;
    top: 0;
    transition: height ease-out 1s;
    background-color: var(--col1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
    transition: height 0.3s ease-in;
}

#nav-list.nav-hide {
    height: 0;
    transition: all ease-out 0.5s;
}

#nav-list.nav-hide li {
    display: none;
    opacity: 0;
    transition: all ease-out 0.7s;
}

#nav-list.nav-hide #clear {
    opacity: 0;
}

#nav-list li a {
    color: var(--bg-col);
    text-transform: capitalize;
    font-size: 5vh;
    opacity: 1;
    transition-delay: 3s;
    transition: all ease-in 0.3s;
}

#clear {
    cursor: pointer;
}

@media screen and (min-width:900px) {
    .menu {
        height: 100px;
        width: 100px;
        top: -20px;
        left: -20px;
        overflow: visible;
    }
    #menu-icon {
        transform: scale(1.5);
        position: relative;
        top: 25px;
        left: 40px;
    }
}
.landing-page{
    height:100vh;
    width:100wv;
}