.sponsor{
    --title-col:rgb(72, 78, 74);
    --text-col:#1A281F;
    --btn-col:#FE654F;
    font-family: 'Montserrat', sans-serif;
}
.sponsor .content{
    padding-top:5%;
    padding-bottom:5%;
    background-color: #D6ECE1;
    color:var(--text-col);
    display:block;
}
.sponsor .title {
    text-align: center;
    color: var(--title-col);
    font-size: 300%;
    font-weight: 700;
    letter-spacing: 2px;

}
.sponsors-logo{
    padding-top:6em;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.sponsors-logo .sponsor{
    display: flex;
    justify-content: center;
    margin: 1em;
    min-width:300px;
}

.sponsors-logo .sponsor img{
    height: 100px;
}
.sponsor-btn{
    display:block !important;
}
.sponsor-btn .btn{
    margin-top:5em;;
    color:var(--title-col);
    width:16rem;
    border-radius: 10px;
    border:2px solid whitesmoke;
}
.sponsor-btn .btn:hover{
    background-color: whitesmoke;
    color:var(--btn-col);
    transition: all 0.3s ease-in;
}