* {
    display: block;
    --title-col: rgb(72, 78, 74);
    --text-col: #1A281F;
}
.tracks{
    background-image: url('./images/track-bg.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top -50px left , bottom right;
    height:auto;
    overflow: visible;
}

.tracks .content {
    margin-left:0;
    padding-bottom: 5%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-col);
    display: block;
}

.tracks .title {
    text-align: center;
    color: var(--title-col);
    font-size: 300%;
    font-weight: 700;
    letter-spacing: 2px;
}

.tracks .text {
    padding-top: 20px;
    font-size: 100%;
}

.tracks .cards {
    display: flex;
    padding-top: 5vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tracks .card {
    max-width: 24em;
    margin-left:2em;
    margin-right:2em;
    margin-top: 10vh;
    padding-bottom: 4em;
}

.tracks .card .img {
    border-radius: 5px;
    width: 100%;
}

.tracks .card .title {
    margin: 10px;
    font-size: 150%;
    letter-spacing: 0;
    text-align: center;
}

.tracks .card .text {
    position: relative;
    margin: 0;
    font-size: 100%;
    width: 90%;
    left: 7%;
}

.tracks .card:hover {
    box-shadow: 5px 5px 10px rgba(169, 169, 170, 0.69), -5px -5px 10px rgba(255, 255, 255, 1);
    border-radius: 9px;
    transition: all 0.5s ease-in-out;
}

@media screen and (min-width:1600px){
    .tracks .card{
     
    margin-left:4em;
    margin-right:4em;   
    }
}
.tracks-g{
    overflow: visible;
    display:flex;
    justify-content: space-between;
}
.tracksgl{
    padding-left:2vw;
    display:inline-block;
    width:20vw;
}
.tracksgr{
    padding-right: 2vw;
    position: relative;
    top:2vw;
    display: inline-block;
    width:40vw;
}

@media screen and (max-width:1200px){
    .tracks-g{
        overflow: visible;
        display:flex;
        justify-content: center;
    }
    .tracksgl{
        display:none;
    }

.tracksgr{
    padding-right: 2vw;
    position: relative;
    top:2vw;
    display: inline-block;
    width:70vw;
}
}